.projects {
    margin: 0 2%;
    align-self: baseline;
}


@media only screen and (min-width: 719px) {

    .projects {
        display: flex;
        flex-direction: column;
    }

    .project:nth-child(odd) {
        flex-direction: row;
    }
    
    .project:nth-child(even) {
        flex-direction: row-reverse;
    }

}
