.hero-image {
    object-fit: cover;
}

.hero-image,
.hero-overlay {
    width: 100vw;
    height: 80vh;
}

.hero-image,
.hero-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
}

.hero-overlay {
    background: rgba(107, 122, 143, 0.5);
}

.hero-overlay,
.hero-tagline {
    position: absolute;
}

.hero-tagline {
    font: 7em "IM FELL Great Primer PRO", serif;
    text-align: center;
    z-index: 1;
}