.skills {
    display: flex;
    flex-direction: row;
}

.skill {
    width: 51.96px;
    height: 90px;
}

.skill-honeycomb {
    margin-left: 36px;
}

.skill-honeycomb:first-child {
    margin-left: 20px;
}

.skill-honeycomb > .fab {
    position: absolute;
    font-size: 4em;
    z-index: 1;
    transform: translateY(-250%);
}

.skill:first-child {
    top: 31px;
    left: 43px;
}

.skill:last-child {
    bottom: 31px;
    left: 43px;
}