@media only screen and (min-width: 719px) {
    .project {
        display: flex;
        justify-content: space-around;
        justify-items: center;
        max-height: 244px;
    }

        .project > * {
            max-width: 50vw;
        }

    .project-info {
        background-color: white;
        display: flex;
        flex-direction: column;
        align-self: center;
    }
}
