.name {
    font-size: 2em;
}

.name,
.title {
    font-family: "Laila", serif;
    z-index: 1;
    transform: translateY(111%);
    text-align: center;
}

.title {
    font-size: 1.15em;
}
.title-block {
    transform: translateY(-20%);
}
