.contact-form-container {
    max-width: 400px;
    margin: auto;
    padding: 2vh;
}

.contact-form-label {
    font-size: 1.185em;
}

.contact-form-legend {
    color: #4d5766;
    font-size: 1.4em;
    text-transform: uppercase;
}

.contact-form-submit {
    font-size: 1.4em;
    padding: 3%;
    color: black;
    border-radius: 10px;
    cursor: pointer;
    background-color: #6b7A8f;
}

.contact-form-submit:hover {
    opacity: 0.8;
}

input,
select,
textarea {
    width: 100%;
    padding: 1em;
    border-radius: 4px;
    box-sizing: border-box;
}

fieldset[class^="contact-form"] {
    border: none;
}