
/*
 *TODO https://react.semantic-ui.com/collections/form 
     * accessible labels
     * Loading
     * Success
     * Field Error
     * Clear Error
 * TODO https://www.npmjs.com/package/react-google-recaptcha
     * Invisible reCaptcha
*/
.contact-form {
    display: flex;
    flex-wrap: wrap;
}

.contact-form * {
    flex: 0 0 50%;
}