.project-info {
    height: 90%;
} 

.project-link {
    color: #6b7a8f;
    font-size: 1.4em;
}

@media only screen and (min-width: 719px) {
    .project-info {
        margin-left: 10%;
        margin-bottom: 10%;
    }
}

   

