.honeycomb {
    position: relative;
    margin: 1em auto;
    width: 10em;
    max-width: 100vw;
    height: 17.32em;
    border-radius: 10%/5%;
    transform: rotate(90deg) translateX(-100%);
    z-index: -1;
    border-bottom: 3px inset #fcd4B4;
    border-top: 3px inset #e17021;
}

    .honeycomb:before, .honeycomb:after {
        position: absolute;
        width: inherit;
        height: inherit;
        border-radius: inherit;
        background: inherit;
        content: '';
        z-index: -1;
        border-bottom: 3px outset #e17021;
        border-top: 3px outset #fcd4B4;
    }

    .honeycomb:before {
        transform: rotate(60deg);
    }

    .honeycomb:after {
        transform: rotate(-60deg);
    }



.citrus {
    background-color: #F7C331;
}


/** Firefox cross-browser color consistency*/
@-moz-document url-prefix() {
    .honeycomb {
        border-bottom-color: #f7882f;
        border-top-color: #f7882f;
    }

        .honeycomb:before, .honeycomb:after {
            border-bottom-color: #f7882f;
            border-top-color: #f7882f;
        }
}

/** Edge cross-browser color consistency */
/*FIX: Top right color not light how it should, turns grey not pink when adjusting*/
/*
@supports (-ms-ime-align:auto) {
    .honeycomb {
        border-bottom-color: #f7882f;
        border-top-color: #f7882f;
    }

        .honeycomb:before, .honeycomb:after {
            border-bottom-color: #f7882f;
            border-top-color: #f7882f;
        }

}  
*/